.DS_Store
data
app
grafana
prometheus
initial_sys_config
jenkins_configuration
node_modules
devops_toolset
awesome-compose
.vscode/
compose-CHEATHSEET.md
compose_ENV_SETUP_ALL.md
compose-CHEATHSEET.md
docker-reference/
